*.csv
bond_analysis.ipynb
brayan.ipynb
calc_energies.py
dataframes/*
electron_density/
family_ab.png
family_ab_merged.png
flow_test.py
flow_test_V2_only.py
method.py
oglic_analysis.ipynb
oglic_finder.py
output.png
por_tamanho.py
teste_pucker.py
vini.ipynb
methods_bar.png
dinamicas/
uniprot/
procaff.ipynb